@import "../../assets/styles/breakpoints.scss";

.health-calculations {
    padding: 8rem 0 6rem 0;
    background-color: #998e7e;
}

.health-calculations-title {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 3rem;

    @include tablet-small() {
        font-size: 2rem;
    }
}

.health-calculations-body {
    width: 40%;
    margin: auto;
    background-color: #e9e5d6;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    @include desktop() {
        width: 60%;
    }
    @include max-tablet() {
        width: 80%;
    }

    @include tablet-small() {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .nav-tabs {
        justify-content: center;
        border-bottom: 0;
    }

    .nav-item {
        &:focus-visible {
            box-shadow: none;
            outline: none;
        }
    }

    .nav-link {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: #5f6f52;
        border-radius: 5px;

        &.active {
            color: #ffffff;
            background-color: #5f6f52;
        }
    }

    .tab-content {
        margin-top: 2rem;
    }
}
