@import "../../assets/styles/breakpoints.scss";

.profile-edit {
    padding: 12rem 0 4rem 0;
    background-color: #998e7e;
}

.profile-edit-title {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 3rem;

    @include tablet-small() {
        font-size: 2rem;
    }
}

.profile-edit-body {
    background-color: #ffffff;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: relative;

    .btn-save-change {
        width: 100%;
        font-size: 1rem;
        padding: 10px 15px;
        border-radius: 50px;
        background-color: #998e7e;
        border: 1px solid #998e7e;
        color: #ffffff;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #543310;
            background-color: #ffffff;
            border: 1px solid #543310;
        }
    }
}

.profile-edit-image {
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;

    img {
        max-width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid #ffffff;
    }
}

.profile-edit-form {
    padding-top: 1.5rem;

    .form-row {
        position: relative;
        margin-bottom: 2rem;
    }

    .form-control {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 0;
        padding: 0;
        border: 0;
        border-bottom: 1px solid rgba(#c6c6c6, 0.8);

        //line
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            background: linear-gradient(to right, #a99e8f, #f1e8de);
            width: 0;
            height: 2px;
            transition: 0.4s all ease-in-out;
            z-index: 1;
        }

        i {
            width: 15px;
            font-size: 14px;
            color: #7b4f21;
        }

        &.has-value {
            .form-label {
                top: -15px;
                left: 0;
                font-size: 12px;
            }

            &:before {
                width: 100%;
            }
        }
    }

    .form-label {
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 14px;
        color: rgba(#c6c6c6, 0.9);
        transition: 0.3s all ease-in-out;
    }

    .form-input {
        font-size: 0.9rem;
        font-weight: 500;
        width: 100%;
        background-color: transparent;
        padding: 10px 10px 10px 15px;
        position: relative;

        // remove bg autofill
        color: rgba(#4d0a00, 1) !important;
        -webkit-text-fill-color: rgba(#4d0a00, 1) !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;

        &:focus-visible,
        &:focus {
            outline: none;
        }
    }

    .form-input::placeholder {
        color: rgba(#ffffff, 0.3);
        font-size: 0.9rem;
        font-weight: 300;
    }

    .errorMessage {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 500;
        color: rgb(220, 59, 59);
    }
}
