@import "../../../assets/styles/breakpoints.scss";

.modal-loading {
    border: 0;

    .modal-dialog {
        justify-content: center;
    }

    .modal-content {
        border: 0;
        z-index: 1;
        background-color: rgba(#000, 0.7);
        color: #ffffff;
        text-align: center;
        max-width: 200px;
    }

    .modal-body {
        padding: 12px 18px;
    }

    .modal-title {
        text-align: center;
    }
}
