@import "../../assets/styles/breakpoints.scss";

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #f4f0e3;

    @include tablet-small() {
        padding: 15px;
    }

    .navbar-brand {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }
    }

    .navbar-brand-title {
        margin-left: 5px;
        font-weight: 700;
        font-size: 1.2rem;
        color: #161616;
    }

    // theme
    &.theme-transparent {
        background-color: transparent;

        .navbar-item {
            color: #ffffff;

            // line bottom
            &:after {
                background-color: #53a06e;
            }

            &:hover {
                color: #ffffff;

                // line bottom
                &:after {
                    width: 100%;
                }
            }
        }

        .navbar-link-register {
            border: 1px solid #ffffff;
        }

        .navbar-link-login {
            transition: 0.3s all ease-in-out;

            &:hover {
                color: #53a06e;
            }
        }
    }
}

.navbar-desktop {
    display: flex;
    width: 100%;

    @include max-tablet() {
        display: none;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-left,
    .navbar-center,
    .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-center {
        flex: 1;
        justify-content: center;

        .navbar-item {
            padding: 0 5px;
            margin: 0 20px;
        }
    }

    .navbar-right {
        .navbar-item {
            margin: 0 10px;

            // line bottom
            &:after {
                display: none;
            }
        }
    }

    .navbar-item {
        font-size: 1rem;
        font-weight: 500;
        color: #4d0a00;
        position: relative;
        transition: 0.3s all ease-in-out;
        cursor: pointer;

        // line bottom
        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #53a06e;
            transition: 0.3s all ease-in-out;
        }

        &:hover {
            color: #53a06e;

            // line bottom
            &:after {
                width: 100%;
            }
        }
    }

    .navbar-link-register {
        border: 1px solid #4d0a00;
        padding: 6px 12px;
        border-radius: 5px;
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: #53a06e;
            border-color: #53a06e;
            color: #ffffff;
        }
    }
}

.navbar-mobile {
    display: none;

    @include max-tablet() {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: none;

        @include max-tablet() {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            z-index: 1;

            .bar {
                width: 25px;
                height: 2px;
                background-color: #4d0a00;
                margin: 4px 0;
                transition: 0.3s;
            }
        }
    }

    .navbar-menu {
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 0;
        width: 35%;
        height: 100vh;
        display: none;
        background-color: #53a06e;
        padding: 100px 20px 20px 20px;
        transition: all 0.5s ease-in-out;

        @include tablet-small() {
            width: 60%;
        }

        @include mini-mobile() {
            width: 70%;
        }

        &.open {
            display: flex;
            right: 0;
        }
    }

    .navbar-list {
        width: 100%;
        height: 100%;
    }

    .navbar-item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
