@import "../../assets/styles/breakpoints.scss";

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    background-color: #f4f0e3;
    transition: all 0.3 ease-in-out;

    @include tablet-small() {
        padding: 15px;
    }

    .navbar-brand {
        display: flex;
        align-items: center;

        @include max-tablet {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            justify-content: center;
        }

        img {
            width: 25px;
            height: 25px;

            @include max-tablet {
                width: 18px;
                height: 18px;
            }
        }
    }

    .navbar-brand-title {
        margin-left: 5px;
        font-weight: 700;
        font-size: 1.2rem;
        color: #161616;

        @include max-tablet {
            font-size: 1rem;
        }
    }

    .navbar-profile {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 10px;
            border: 2px solid #ffffff;
        }
    }
    .navbar-profile-title {
        color: #4d0a00;
        font-weight: 500;
        font-size: 1rem;
    }

    .navbar-dropdown {
        position: fixed;
        top: 70px;
        right: 30px;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        @include tablet-small() {
            right: 20px;
        }
    }

    .navbar-dropdown-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        i {
            margin-right: 8px;
        }

        &:hover {
            .navbar-dropdown-link {
                color: #252525;
                background-color: #dddddd;
            }
        }
    }

    .divider {
        width: 100%;
        border-top: 1px solid #e2e2e2;
        margin: 8px 0;
    }

    .navbar-dropdown-link {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 60px 10px 10px;
        color: #5d5d5d;
        transition: all 0.3s ease-in-out;
        border-radius: 4px;
    }

    &.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    // theme
    &.theme-transparent {
        background-color: transparent;

        &.navbar-scrolled {
            background-color: #91c788;
        }

        .navbar-item {

            // line bottom
            &:after {
                background-color: #53a06e;
            }

            &.active,
            &:hover {
                .navbar-link {
                    color: #ffffff;
                }

                // line bottom
                &:after {
                    width: 100%;
                }
            }
        }

        .navbar-link {
            color: #ffffff;
        }

        .navbar-link__register {
            border: 1px solid #ffffff;

            @include max-tablet() {
                border: 0;
            }
        }

        .navbar-link__login {
            transition: 0.3s all ease-in-out;

            &:hover {
                color: #53a06e;
            }
        }
    }
}

.navbar-desktop {
    display: flex;
    width: 100%;
    padding: 0 30px;

    @include max-tablet() {
        display: none;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .navbar-left,
    .navbar-center,
    .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-center {
        flex: 1;
        justify-content: center;

        .navbar-item {
            padding: 0 5px;
            margin: 0 20px;
        }
    }

    .navbar-right {
        .navbar-item {
            margin: 0 10px;

            // line bottom
            &:after {
                display: none;
            }
        }
    }

    .navbar-item {
        position: relative;
        transition: 0.3s all ease-in-out;
        cursor: pointer;

        &.active {
            .navbar-link {
                color: #53a06e;
            }
            // line bottom
            &:after {
                width: 100%;
            }
        }

        // line bottom
        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #53a06e;
            transition: 0.3s all ease-in-out;
        }

        &:hover {
            .navbar-link {
                color: #53a06e;
            }

            // line bottom
            &:after {
                width: 100%;
            }
        }
    }

    .navbar-link {
        font-size: 1rem;
        font-weight: 400;
        color: #4d0a00;
        text-align: center;
        text-decoration: none;
        transition: 0.3s all ease-in-out;
    }

    .navbar-link__register {
        border: 1px solid #4d0a00;
        padding: 8px 14px;
        border-radius: 5px;
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: #53a06e;
            border-color: #53a06e;
            color: #ffffff !important;
        }
    }
}

.navbar-mobile {
    display: none;

    @include max-tablet() {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    @include tablet-small() {
        padding: 0 10px;
    }

    .hamburger {
        display: none;

        @include max-tablet() {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            z-index: 1;

            .bar {
                width: 25px;
                height: 2px;
                background-color: #4d0a00;
                margin: 3px 0;
                transition: 0.3s;

                &:first-child {
                    width: 15px;
                    // margin-right: auto;
                }
            }
        }
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 0;
        width: 35%;
        height: 100vh;
        opacity: 1;
        display: flex;
        background-color: #53a06e;
        padding: 100px 20px 20px 20px;
        transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;

        @include tablet-small() {
            width: 60%;
        }

        @include mini-mobile() {
            width: 70%;
        }

        &.open {
            opacity: 1;
            left: 0;
        }
    }

    .navbar-list {
        width: 100%;
        height: 100%;
    }

    .navbar-item {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .navbar-link{
        color: #ffffff;
    }
}
