/* breakpoints.scss */
$max-width-mini-mobile:         320px;
$max-width-mobile:              375px;
$max-width-tablet-small:        576px;
$max-width-tablet:              768px;
$max-width-desktop:             1024px;
$max-width-desktop-large:       1280px;
$max-width-desktop-extra-large: 1440px;
$max-width-desktop-2xl:         1920px;

$min-width-tablet:              $max-width-tablet + 1;
$min-width-desktop:             $max-width-desktop + 1;

@mixin mini-mobile {
    @media (max-width: $max-width-mini-mobile) { @content; }
}

@mixin mobile {
    @media (max-width: $max-width-mobile) { @content; }
}

@mixin tablet-small {
    @media (max-width: $max-width-tablet-small) { @content; }
}

// @mixin min-tablet {
//     @media (min-width: $min-width-tablet) { @content; }
// }

@mixin max-tablet {
    @media (max-width: $max-width-tablet) { @content; }
}

@mixin tablet {
    @media (max-width: $max-width-desktop) { @content; }
    // @media (min-width: $min-width-tablet) and (max-width: $max-width-desktop) { @content; }
}

@mixin min-desktop {
    @media (min-width: $min-width-desktop) { @content; }
}

@mixin desktop {
    @media (max-width: $max-width-desktop-large) { @content; }
    // @media (min-width: $min-width-desktop) and (max-width: $max-width-desktop-large) { @content; }
}

@mixin desktop-large {
    @media (max-width: $max-width-desktop-extra-large) { @content; }
    // @media (min-width: $max-width-desktop-large) and (max-width: $max-width-desktop-extra-large) { @content; }
}

@mixin desktop-extra-large {
    @media (max-width: $max-width-desktop-2xl) { @content; }
    // @media (min-width: $max-width-desktop-extra-large) and (max-width: $max-width-desktop-2xl) { @content; }
}

@mixin desktop-2xl {
    @media (min-width: $max-width-desktop-2xl) { @content; }
}